
html, body {
    margin: 0;
    padding: 0;
}

@keyframes DropIn
{
    from{ transform: translate3d(0px,-300px,0px)}
    to{ transform: translate3d(0px,0px,0px)}
}
.header
{
    background: #ffffff;
    border-bottom: 2px;
    border-bottom-color:#cccccc;
    width: 100%;
    height: 130px;
    border-bottom-style: solid;
    margin-bottom: 30px;


    
}

.HeaderTitle
{
    background: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    width: 30%;
    height: 54%;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
    margin-top: 0px;
    padding-bottom: 42px;
    
}

.HeaderLinkLeft
{
    color: #777777;
    float : right;
    padding-right: 10px;
    border-right-color: #cccccc;
    border-right-width: 1px;
    border-right-style: solid;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
    
.HeaderLinkRight
{
    color: #777777;
    float : right;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.Box
{
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top:40px;
    padding-right: 0px;
}

body
{
    background-image: url("../images/white-and-gray-background.jpg");
}

.background
{
    background: #ffffff;
    width: 960px;
    height: 480px;
   margin:0 auto;


}

.BodyHeading
{
    float:left;
    width: 93%;
    color: #4aaaa5;
    padding-left: 30px;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;

}

img{
    float: left;
}

.size
{
    width: 960px;
    height: 100%;
    margin: 0 auto;
    

}

footer
{
    background: #777777;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 20px;
    text-align: center;
    border-top:8px;
    border-top-style: solid;
    margin-top: 90px;
    border-top-color: #4aaaa5;
    position: fixed;
    bottom: 0;

    

}

.footer
{
    padding-top:75px;
    font-size: 10px;

}

img
{
    padding:20px;
    margin-bottom: 10px;
}

p
{
    padding: 15px;
    line-height: 2;
}

.CInfo
{
    width: 90%;
    margin: 5px;
}

.CMessage
{
    width: 90%;
    height: 200px;
    margin: 5px;
    resize: vertical;
    overflow: auto;


}

form
{
    padding-left: 20px;
    color: #777777;


}

#button
{
    padding: 10px 20px;
    background: #4aaaa5;
    color: #ffffff;
    margin: 5px;
    border: 0;


}

.PImage
{
    padding: 0px;
    margin: 20px;
    margin-bottom: 10px;
    border-color: #444444;
    border-width: 3px;
    border-style: solid;
    animation-name: DropIn;
    animation-duration: 2s;
    width: 150px;
    height: 150px;
}

.FirstImage
{
    margin-left:100px;
}

#Contact
{
    position: fixed;
    left: 0;
    top: 275px;
    width: 100px;
    height: 325px;


}

.contactImages
{
    float: left;
    width: 50px;
    height: 50px;
    padding: 25px;
}

.resize{
    height: 150px;
    width: 150px;
}

@media only screen and (max-width : 980px)
{

    .background
    {
        width: 660px;
        height: 580px;

    }

    #Contact
    {
        visibility: hidden;
    }

    .header,.footer
    {
      position: static;   
    }

    .body
    {
        width: 760px;
    }

    footer
    {
        height: 10px;
    }

    .Box
    {
        padding-right: 150px;
    }

    .HeaderTitle
    {
        margin-left: 55px;
    }

    .FirstImage
    {
        margin-left: 20px;

    }

    .rBackground
    {
        height: 650px;
    }
}

@media only screen and (max-width : 768px)
{


    .resize
    {
        width: 200px;
        height: 200px;
    }

    p
    {
        padding: 10px;
    }

    .Box
    {
        padding-right: 275px; 
    }

    .HeaderTitle
    {
        margin-left: 40px;
    }
}

@media only screen and (max-width : 640px)
{
    .size
    {
        width: 600px;
    }
    .HeaderTitle
    {
        width: 100%;
        margin: 0% auto;
        height : 40px;
    }

    .Box
    {
        padding-right: 175px;
        padding-top: 50px;
    }

    .resize
    {
        height: 300px;
        width: 90%;
    }

    .background
    {
        width: 460px;
        height: 980px;

    }


    .header,.footer
    {
      position: static;   
    }

    .PImage
    {
        width: 40%;
        height: 200px; 
    }

    .rBackground
    {
        height: 1050px;
    }
}